.addcon1{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.bigcontent12{
    margin-top: -140px;
}
.select1{
    width: 200px;
    height: 30px;
}
.addpro{
    margin-top: -5px;
}
.Sats{
    margin-left: -90px;
}