.para11{
    margin-left: 25px;
}
.para22{
    margin-left: 60px;
}
.para33{
    margin-left: 60px;
}
.para44{
    margin-left: 100px;
}
.para55{
    margin-left: 105px;
}
.para66{
    margin-left: 20px;
}
.para77{
    margin-left: 175px;
}
.para88{
    margin-left: 10px;
}
.para99{
    margin-left: 10px;
}

